<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signupController</servlet-name>
        <servlet-class>controller.signupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>controller.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBlogController</servlet-name>
        <servlet-class>controller.deleteBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editController</servlet-name>
        <servlet-class>controller.editBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showController</servlet-name>
        <servlet-class>controller.showController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likeController</servlet-name>
        <servlet-class>controller.likeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unLikeController</servlet-name>
        <servlet-class>controller.unLikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileController</servlet-name>
        <servlet-class>controller.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFollowingController</servlet-name>
        <servlet-class>controller.deleteFollowingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>controller.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>followController</servlet-name>
        <servlet-class>controller.followController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unfollowController</servlet-name>
        <servlet-class>controller.unfollowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProfileController</servlet-name>
        <servlet-class>controller.showProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBlogController</servlet-name>
        <url-pattern>/deleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editController</servlet-name>
        <url-pattern>/editBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showController</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likeController</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unLikeController</servlet-name>
        <url-pattern>/unLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFollowingController</servlet-name>
        <url-pattern>/deleteFollowing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>followController</servlet-name>
        <url-pattern>/follow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unfollowController</servlet-name>
        <url-pattern>/unfollow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProfileController</servlet-name>
        <url-pattern>/showProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
